#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-button-container {
  padding-bottom: 20px;
}

.main-container {
  padding-top: 50px;
}


/* Styling for the card container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  color: black;
}

/* Individual card styling */
.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 200px; /* Adjust width as needed */
  text-align: left;
}

/* Card content styling */
.card-content p {
  margin: 8px 0;
}

.card-content p strong {
  font-weight: bold;
}

.fake-image {
  background-color: #d0d0d0;
  height: 50px;
}

.array-item {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.heart-icon {
  text-align: right;

}